.bg-img1 {
  height: 75vh;
  background-size: cover;
  background-image: linear-gradient(
      rgba(97, 97, 97, 0.124),
      rgba(39, 39, 39, 0.015)
    ),
    url(img1.jpg);
}
.bg-img2 {
  height: 75vh;
  background-size: cover;
  background-image: linear-gradient(
      rgba(97, 97, 97, 0.124),
      rgba(39, 39, 39, 0.015)
    ),
    url(img2.jpg);
}
.bg-img3 {
  height: 75vh;
  background-size: cover;
  background-image: linear-gradient(
      rgba(97, 97, 97, 0.124),
      rgba(39, 39, 39, 0.015)
    ),
    url(img3.jpg);
}
